body {
    margin: 0;
    /* margin-top: 50px; */
}

html {
    background: #ffffff;
}

@font-face {
    font-family: "Futura";
        /*, sans-serif */
    src: url("Futura.ttf");
    font-size: 300%;
}

.title_collar{
    font-size: 500%;
    font-family: Futura, sans-serif;
}

.top {
    background: #404040;
    color: #ffffff;
    border: 0;
    font-family: Futura, sans-serif;
    /* padding: 300px; */
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 300px;
    padding-top: 300px;
    /* font-size: 400%; */
}

.top center[fullform] {
    /* font-size: 50%; */
}

.top center[fullform] b {
    text-decoration: underline;
}

.top center[quote] {
    /* font-size: 30%; */
    font-style: italic;
}

.top center[startbutton] a {
    background-color: #ffffff;
    /* font-size: 45%; */
    overflow: hidden;
    padding: 5px;
    margin-bottom: 15px;
}

.top center[startbutton] .topbar a:link {
    text-decoration: none;
    color: #404040;
}

.top center[startbutton] .topbar a:visited {
    text-decoration: none;
    color: #404040;
}

.top center[startbutton] .topbar a:hover {
    background-color: rgb(1, 141, 165);
    color: #ffffff;
}

.top input[type=text], input[type="password"], input[type="email"] {
    border-radius: 50px;
    height: 40px;
    width: 60%;
    padding: 5px;
    font-size: 15px;
    border-color: white;
    border-width: 4px;
    margin-bottom: 15px;
}

.top label[label] {
    font-size: 50%;
}

.top label[label] {
    font-size: 50%;
}

.top input[type=submit] {
    background-color: white;
    color: #404040 font-family: "Futura", sans-serif;
    font-size: 45%;
}

.top input[type=submit]:hover {
    background-color: rgb(1, 141, 165);
    color: white;
}

article [quote] {
    background: #ffe599;
    font-family: Pacifico;
    font-size: 950%;
    text-align: center;
    padding: 0px;
    margin-top: 50px;
}

footer {
    background: #404040;
    color: #ffffff;
    padding: 0px;
    font-size: ;
}

.nav {
    background: #a2c4c9;
    font-family: "Courier New", Courier, Monospace;
    font-size: 18px;
    text-align: center;
    position: fixed;
    top: 0;
    color: #ffffff;
    width: 100%;
    float: none;
    height: 56px;
}

.nav a {
    padding: 12px 55px;
    padding-top: 15px;
    /*margin-top: 10px;*/
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #a2c4c9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #a2c4c9;
}

.dropdown-content a {
    float: none;
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #a2c4c9;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: a2c4c9;
}

.dropdown {
    float: none;
    overflow: hidden;
    padding: 17px 55px;
}

.nav a:hover {
    background-color: #ffffff;
    color: #a2c4c9;
}

.nav a {
    padding: 17px 55px;
}

.nav a:link {
    color: #ffffff;
    text-decoration: none;
}

.nav a:visited {
    color: #ffffff;
    text-decoration: none;
}

.nav a:hover {
    color: #a2c4c9
}

.nav a:active {
    background-color: #7d8ab1;
    color: #ffffff;
}

.navi a:hover {
    background-color: #ffffff;
    color: #404040;
}

.navi {
    background: #404040;
    font-family: "Courier New", Courier, Monospace;
    font-size: 15px;
    padding: 0px;
    text-align: center;
    /*margin-top: 30px;*/
}

.navi a {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 45px;
    padding-right: 45px;
}

.navi tr[copyright] {
    height: 100px;
}

.navi tr {
    height: 75px;
}

.navi a:link {
    color: #ffffff;
    text-decoration: none;
}

.navi a:visited {
    color: #ffffff;
    text-decoration: none;
}

.navi a:hover {
    background-color: #ffffff;
    color: #404040;
    text-decoration: none;
}

.pagetop {
    margin-top: 50px;
    background-color: #404040;
    color: #ffffff;
    font-family: Futura, sans-serif;
    font-size: 500%;
    font-style: italic;
    text-align: center;
}

.pagetop a {
    color: #ffffff;
    text-decoration: none;
    padding-left: 200px;
    padding-right: 200px;
}

.Diseases h1 {
    text-align: left;
}

.infoscreen img {
    width: 1280px;
    height: 800px;
    border: 2px solid black;
}

.infoscreen a:hover {
    background-color: #551A8B;
    color: #ffffff;
}

table {
    width: 100%;
}

h1 {
    font-family: Futura, sans-serif;
}

#GettingStarted {
    /* padding-top: 20px; */
}

#MoreInfo {
    text-align: left;
    font-size: 125%;
    padding-top: 55px;
}

.content {
    font-family: verdana, sans-serif;
}

h2, h3, h4 {
    font-family: Futura, sans-serif;
}

.link {
    text-align: center;
}

.link a:link, a:visited {
    font-size: 30px;
    color: white;
    font-style: italic;
    text-decoration-color: rgb(1, 141, 165);
}

.link a:hover {
    color: rgb(1, 141, 165);
    text-decoration-color: white;
}

.post_form {
    font-size: 30px;
}

.post_form input[type="text"] {
    width: 100%;
}

.post_form input[type="submit"] {
    border-radius: 50px;
    width: 50%;
    height: 60px;

}

.new_post_button {
    border-radius: 50px;
    width: 100%;
    height: 300%;
    font-size: 15px;
    padding: 10px;
}

.box{
    border-width: 2px;
    border-radius: 10px;
    border-color: #ffffff;
    border-width: 0 3px;
    border-radius: 10px;
    border: solid #000;
    border-color: (1, 141, 165);
}

.box td{
    padding: 20px;
}

.top center[login_signup]{
    font-size: 200%;
    margin-top: 10px;
    margin-bottom: 20px;
}
